<header class="header">
  <div class="header__container">
    <a href="/">
      <img class="logo" src="/img/logo.png" alt="Catálogo de Livros" srcset="" />
    </a>
    <a class="header__menu" href="/">Home</a>
    <a class="header__menu" href="/">Sobre</a>
    <a class="header__menu" href="/">Catálogo</a>
    <a class="header__menu" href="/">Contato</a>
    <a class="header__button" href="/post">Cadastrar Livro</a>
  </div>
</header>